[Blocks]
DATA=/data/blocks

[VideoDriver]
Width=640
Height=480
Depth=16
FullScreen=no

; For a full list of plugins, see cryst.cfg
[PlugIns]
VFS = crystalspace.kernel.vfs
VideoDriver = crystalspace.graphics3d.software
Engine = crystalspace.engine.core

[Keys]
UP=up
DOWN=down
LEFT=left
RIGHT=right
ROTPX=q
ROTMX=a
ROTPY=w
ROTMY=s
ROTPZ=e
ROTMZ=d
PAUSE=p
DROP=space
ESC=esc
VIEWLEFT=del
VIEWRIGHT=pgdn
VIEWUP=home
VIEWDOWN=end
ZOOMIN=ins
ZOOMOUT=pgup

