[Blocks]
DATA = /data/blocks

[VideoDriver]
Width = 640
Height = 480
Depth = 16
FullScreen = no

; For a full list of plugins, see cryst.cfg
[PlugIns]
VFS = crystalspace.kernel.vfs
VideoDriver = crystalspace.graphics3d.software
Engine = crystalspace.engine.core

[Keys]
UP = up
DOWN = down
LEFT = left
RIGHT = right
ROTPX = q
ROTMX = a
ROTPY = w
ROTMY = s
ROTPZ = e
ROTMZ = d
PAUSE = p
DROP = space
ESC = esc
VIEWLEFT = del
VIEWRIGHT = pgdn
VIEWUP = home
VIEWDOWN = end
ZOOMIN = ins
ZOOMOUT = pgup

[Game]
PLAYSIZE = 3
LEVEL = 0

[HighScores]
Score0_3x3_0 = 104
Name0_3x3_0 = Jorrit
Score0_3x3_1 = 90
Name0_3x3_1 = jorrit
Score0_3x3_2 = 87
Name0_3x3_2 = AndyZ
Score0_3x3_3 = 85
Name0_3x3_3 = AndyZ
Score0_3x3_4 = 83
Name0_3x3_4 = jorrit
Score0_3x3_5 = 79
Name0_3x3_5 = jorrit
Score0_3x3_6 = 75
Name0_3x3_6 = AndyZ
Score0_3x3_7 = 70
Name0_3x3_7 = AndyZ
Score0_3x3_8 = 68
Name0_3x3_8 = jorrit
Score0_3x3_9 = 58
Name0_3x3_9 = AndyZ
Score2_3x3_0 = 3
Name2_3x3_0 = AndyZ
