;-------------------------------------------
; Direct3DDX6 specific stuff
;-------------------------------------------
[Direct3DDX6]
; Use 16 bits texture (else use 8 bits palletized textures)
USE_16BIT_TEXTURE=yes
