;-------------------------------------------
; Glide3x specific stuff
;-------------------------------------------
[Glide3x]
; Force multipass rendering against singlepass rendering
FORCEMULTIPASS=false
; Wait for Vertical retrace between frames
VRETRACE=yes
; Use 16 bits texture (else use 8 bits palletized textures)
USE_16BIT_TEXTURE=no
