;-------------------------------------------
; OpenGL specific stuff
;-------------------------------------------
[OpenGL]

; Enable Dither mode.
ENABLE_DITHER=yes

; Enable Bilinear texture mapping (slower, especially
; if you don't have hardware acceleration).
ENABLE_BILINEARMAP=yes

; If this is set to 'yes' then you don't care about good perspective
; correction. This may mean that textures are rendered faster.
; Wether or not this hint is honored depends on the implementation.
HINT_PERSPECTIVE_FAST=no

; This tells how to blend lightmaps with their underlying textures.
; Legal modes are 'multiplydouble', 'multiply' (the default), 'coloradd',
; and 'add'. Choose to fit your hardware and taste.  The 'multiply' mode
; is supported on most hardware but is often too dark.  If your hardware
; supports it, 'multiplydouble' often gives a better scene.
LIGHTMAP_MODE=multiply

; If this option is enabled, the OpenGL renderer will use an extra
; flag to further brighten textures. This is especially useful in
; combination with LIGHTMAP_MODE=multiply as this simulates the
; desired 2*SRC*DST mode on cards that don't directly support
; 2*SRC*DST (i.e. multiplydouble). Of course this slows down
; the renderer (until we use multi-texturing).
EXTRA_BRIGHT=no

[Mipmapping]
BLEND_MIPMAP=no

[Display]
Driver=crystalspace.graphics2d.glx.disp.empty
;Driver=crystalspace.graphics2d.glx.disp.glide
;Driver=crystalspace.graphics2d.glx.disp.svga
