;-------------------------------------------
; OpenGL specific stuff
;-------------------------------------------
[OpenGL]

; Enable Dither mode.
ENABLE_DITHER=yes

; Enable Bilinear texture mapping (slower, especially
; if you don't have hardware acceleration).
ENABLE_BILINEARMAP=yes

; If this is set to 'yes' then you don't care about good perspective
; correction. This may mean that textures are rendered faster.
; Wether or not this hint is honored depends on the implementation.
HINT_PERSPECTIVE_FAST=no

; This tells how to blend lightmaps with their underlying textures.
; Legal modes are 'multiplydouble', 'multiply' (the default), 'coloradd',
; and 'add'. Choose to fit your hardware and taste.  The 'multiply' mode
; is supported on most hardware but is often too dark.  If your hardware
; supports it, 'multiplydouble' often gives a better scene.
LIGHTMAP_MODE=multiply

[TextureManager]
MIXLIGHTS=true_rgb

; Color matching rules
RGB_DIST=16333
RGB_COL_DIST=133333
FAST_RGB_ALLOC=no

; Color correction
GAMMA=1.0

[Mipmapping]
MIPMAP_NICE=verynice
BLEND_MIPMAP=no
MIPMAP_FILTER_1=1,2,1,2,4,2,1,2,1
MIPMAP_FILTER_2=1,1,1,1,1,1,2,4,2,1,1,4,8,4,1,1,2,4,2,1,1,1,1,1,1
BLEND_FILTER=1,2,1,2,4,2,1,2,1
