[TextureManager]
MIXLIGHTS=true_rgb
; Texture mode can be: 24bit, global, private
TXTMODE=global

; Color matching rules
RGB_DIST=16333
RGB_COL_DIST=133333
FAST_RGB_ALLOC=no

; Texture cache size
CACHE=5242880
; Color correction
GAMMA=1.0

[Mipmapping]
MIPMAP_NICE=verynice
BLEND_MIPMAP=no
DMIPMAP1=12.0
DMIPMAP2=24.0
DMIPMAP3=40.0
MIPMAP_FILTER_1=1,2,1,2,4,2,1,2,1
MIPMAP_FILTER_2=1,1,1,1,1,1,2,4,2,1,1,4,8,4,1,1,2,4,2,1,1,1,1,1,1
BLEND_FILTER=1,2,1,2,4,2,1,2,1

[Hardware]
; Override the 2D driver
;Driver2D=crystalspace.graphics2d.asciiart
; Use MMX if available
MMX=yes
; Use interlaced mode
INTERLACING=no
; Render into a twice smaller window and smooth it to fullsize
SMALLER=no
