; Some basic mount points
VFS.Mount.~ = $(HOME)$/
VFS.Mount.this = $.$/
VFS.Mount.cdrom = $(CDROM)$/
VFS.Mount.tmp = $(TMP)$/
VFS.Mount.temp = $.$/data$/temp$/

; Configuration repository
VFS.Mount.config = $@data$/config$/
; This directory is intended as a repository for common textures
VFS.Mount.tex = $@data$/tex$/
; The TTF font library
VFS.Mount.fonts/ttf   = $@data$/ttf$/, $(TTF_PATH:$.$/)

VFS.Mount.lev/flarge   = $@data$/flarge$/
VFS.Mount.lev/isomap   = $@data$/isomap.zip, $@data$/isomap$/
VFS.Mount.lev/mdltest  = $@data$/mdltest$/
VFS.Mount.lev/partsys  = $@data$/partsys$/
VFS.Mount.lev/metaball = $@data$/metaball$/metaball.zip, $@data$/metaball$/
VFS.Mount.lev/terrain  = $@data$/terrain$/

VFS.Mount.data/blocks   = $@data$/blocks.zip

; Mount all libraries under the /lib/ directory
VFS.Mount.lib/std      = $@data$/standard.zip
VFS.Mount.lib/stdtex   = $@data$/stdtex.zip
VFS.Mount.lib/csws     = $@data$/csws.zip

; Mount for AWS
VFS.Mount.aws     = $@data$/awsdef.zip

; The following should not change too often...
; The idea is that everything that should be changed (such as CDROM variable)
; is set by some sort of setup (installation) program.
; Note that variables in VFS.Platform. section will override any
; variables in VFS.PlatformAlias. section.
VFS.Alias.Solaris = VFS.Unix
VFS.Alias.Linux = VFS.Unix
VFS.Alias.FreeBSD = VFS.Unix
VFS.Alias.NetBSD = VFS.Unix
VFS.Alias.Irix = VFS.Unix
VFS.Alias.NextStep = VFS.Unix
VFS.Alias.OpenStep = VFS.Unix
VFS.Alias.MacOS/X = VFS.Unix
VFS.Alias.BeOS = VFS.Unix
VFS.Alias.DOS = VFS.CP/M
VFS.Alias.OS/2 = VFS.CP/M
VFS.Alias.Win32 = VFS.CP/M

; strange key names follow:
; VFS.Unix.. means key '.' in section VFS.Unix.*
; VFS.Unix... means key '..' in section VFS.Unix.*
VFS.Unix.. = .
VFS.Unix... = ..
VFS.Unix.CDROM = /mnt/cdrom
VFS.Unix.TMP = /tmp
; This is true at least for systems using XFree86
VFS.Unix.TTF_PATH = /usr/X11R6/lib/X11/fonts/Truetype/

VFS.CP/M.. = .
VFS.CP/M... = ..
VFS.CP/M.HOME = $(HOMEDIR:$(HOMEPATH:.))
VFS.CP/M.CDROM = x:
VFS.CP/M.TMP = $(TEMP:$(TMP:$(SYSTEMROOT)$/temp))

VFS.Macintosh.. = 
VFS.Macintosh... = ..
VFS.Macintosh.HOME = 

; The standard location of TTF fonts is the X:\Windows\fonts directory
VFS.Win32.TTF_PATH = $(SYSTEMROOT)$/fonts$/

