[VFS]
; Some basic mount points
~ = $(HOME)$/
this = $.$/
cdrom = $(CD)$/
tmp = $.$/data$/temp$/
etc = $.$/

; Configuration repository
config = $@data$/config$/
; This directory is intended as a repository for common textures
tex = $@data$/tex$/
; The TTF font library
fonts/ttf   = $@data$/ttf$/, $(TTF_PATH:$.$/)

; Mount all known levels under the /lev/ directory
lev/flarge   = $@data$/flarge.zip
lev/large    = $@data$/large.zip
lev/room     = $@data$/room.zip
lev/maze     = $@data$/maze.zip
lev/simple   = $@data$/simple.zip
lev/sky      = $@data$/sky.zip
lev/bezex    = $@data$/bezex.zip
lev/sprite   = $@data$/sprite.zip
lev/sydney   = $@data$/sydney.zip
lev/rgb      = $@data$/rgb.zip
lev/infinite = $@data$/infinite.zip
lev/mirror   = $@data$/mirror.zip
lev/perf     = $@data$/perf.zip
lev/yinan    = $@data$/yinan.zip
lev/terrain  = $@data$/terrain.zip
lev/dmburg   = $@data$/dmburg.zip
lev/sqk1     = $@data$/sqk1$/, $@data$/sqk1.zip
lev/sqk2     = $@data$/sqk2$/, $@data$/sqk2.zip
lev/random   = $@data$/random.zip

lev/test     = $@data$/test$/
lev/test2    = $@data$/test2$/
lev/test3    = $@data$/test3$/
lev/test4    = $@data$/test4$/
lev/test5    = $@data$/test5$/

data/blocks  = $@data$/blocks.zip
data/squawk  = $@data$/squawk$/, $@data$/squawk.zip
data/dungeon = $@data$/dungeon$/

; Mount all libraries under the /lib/ directory
lib/std      = $@data$/standard.zip
lib/stdtex   = $@data$/stdtex.zip
lib/MazeD    = $@data$/MazeD.zip
lib/csws     = $@data$/csws.zip
lib/cctest   = $@data$/cctest.zip

; The following should not change too often...
; The idea is that everything that should be changed (such as CD variable)
; is set by some sort of setup (installation) program.
; Note that variables in [VFS.Platform] section will override any
; variables in [VFS.PlatformAlias] section.
[VFS.Alias]
Solaris = VFS.Unix
Linux = VFS.Unix
FreeBSD = VFS.Unix
Irix = VFS.Unix
NextStep = VFS.Unix
OpenStep = VFS.Unix
MacOS/X Server = VFS.Unix
BeOS = VFS.Unix
DOS = VFS.CP/M
OS/2 = VFS.CP/M
Win32 = VFS.CP/M

[VFS.Unix]
. = .
.. = ..
CD = /mnt/cdrom
; This is true at least for systems using XFree86
TTF_PATH = /usr/X11R6/lib/X11/fonts/Truetype/

[VFS.CP/M]
. = .
.. = ..
HOME = $(HOMEDIR:$(HOMEPATH:.))
CD = x:

[VFS.Macintosh]
. = 
.. = ..
HOME = 

[VFS.Win32]
; The standard location of TTF fonts is the X:\Windows\fonts directory
TTF_PATH = $(SystemRoot)$/fonts
