SubDir TOP src ;

Description #PROJECTNAME# : "#LONGNAME#" ;
Application #PROJECTNAME# : [ Wildcard *.cpp *.h ] ;
ExternalLibs #PROJECTNAME# : CRYSTAL ;
if $(CEL.DESIRED) = yes && $(CEL.AVAILABLE) = yes
{
  ExternalLibs #PROJECTNAME# : CEL ;
}
