SubDir TOP src ;

Description #PROJECTNAME# : "#LONGNAME#" ;
Application #PROJECTNAME# :
  [ Wildcard *.h *.hpp *.hxx *.H *.c *.cc *.cpp *.cxx *.C *.m *.mm *.M ] ;
ExternalLibs #PROJECTNAME# : CRYSTAL ;
if $(CEL.DESIRED) = yes && $(CEL.AVAILABLE) = yes
{
  ExternalLibs #PROJECTNAME# : CEL ;
}
