body, table {
  font-family: Verdana, sans-serif;
  font-size: 10pt;
}

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

H1 { text-align: center; }
CAPTION { font-weight: bold }
a:link { color: #000080; }
A.qindex {}
A.qindexRef {}
A.el { 
  text-decoration: none; font-weight: bold; 
  line-height:1.2em;
}
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #4444ee }
A.codeRef { font-weight: normal; color: #4444ee }
A:hover { background-color: #f2f2ff }
DL.el { margin-left: -1cm }
DIV.fragment { width: 100%; border: none; background-color: #eeeeee }
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TD.md { background-color: #f2f2ff; font-weight: bold; }
TD.mdname1 { background-color: #f2f2ff; font-weight: bold; color: #602020; }
TD.mdname { background-color: #f2f2ff; font-weight: bold; color: #602020; width: 600px; }
DIV.groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.groupText { margin-left: 16px; font-style: italic; font-size: smaller }
BODY { background: white }
TD.indexkey { 
   background-color: #eeeeff; 
   font-weight: bold; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
TD.indexvalue { 
   background-color: #eeeeff; 
   font-style: italic; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
FONT.keyword       { color: #008000 }
FONT.keywordtype   { color: #604020 }
FONT.keywordflow   { color: #e08000 }
FONT.comment       { color: #800000 }
FONT.preprocessor  { color: #806020 }
FONT.stringliteral { color: #002080 }
FONT.charliteral   { color: #008080 }

pre {
  font-family: Lucida Console, Courier New, monospace;
  font-size: 10pt;
}

p {
  line-height:1.2em;
}
 
td.head {
  color: white;
  background: #31363e;  
  padding-left:1.2cm; 
  text-align: left;
}

td.headshadow {
  color: white;
  background: white url("csshadow.png") bottom repeat-x;  
  padding-left:1.2cm; 
}

td.head h2 {
	margin: 0 0 0 0;
}

div.content {
	margin-left: 0.5cm;
	margin-right: 0.5cm;
}

@media print 
{

td.head, td.headshadow {
  color: black;
  background: white;
}

body, table {
  font-family: Georgia, serif;
}

}
