<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Version="1.9.3" Name="Crystal Space 1.9 Demos ($(var.ARCH))" Language="1033" UpgradeCode="$(var.UPGRADE_CODE)" Id="*" Manufacturer="The Crystal Space Project">
    <Package InstallerVersion="301"/>
    <Media EmbedCab="yes" Id="1" Cabinet="cs1.cab"/>
    <UIRef Id="WixUI_FeatureTree"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.TOP)/scripts/msi/lgpl.rtf"/>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize"/>
    </InstallExecuteSequence>
    <Directory Name="SourceDir" Id="TARGETDIR"/>
    <DirectoryRef Id="TARGETDIR">
      <Directory Name="PFiles" Id="ProgramFilesFolder"/>
    </DirectoryRef>
    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Name="CrystalSpace" Id="CSDIR"/>
    </DirectoryRef>
    <?include CS-directory-runtime.wxinc ?>
    <?include CS-directory-demo.wxinc ?>
    <Upgrade Id="$(var.UPGRADE_CODE)">
      <UpgradeVersion IncludeMaximum="yes" Minimum="1.9.0" Property="PATCHFOUND" Maximum="1.9.3" IncludeMinimum="yes"/>
    </Upgrade>
    <?include CS-feature-demo.wxinc ?>
    <?include CS-feature-runtime.wxinc ?>
  </Product>
</Wix>

