<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Version="1.9.3" Name="Crystal Space 1.9 Runtime ($(var.ARCH))" Language="1033" UpgradeCode="$(var.UPGRADE_CODE)" Id="*" Manufacturer="The Crystal Space Project">
    <Package InstallerVersion="301"/>
    <Media EmbedCab="yes" Id="1" Cabinet="cs1.cab"/>
    <UIRef Id="WixUI_Minimal"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.TOP)/scripts/msi/lgpl.rtf"/>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize"/>
    </InstallExecuteSequence>
    <Directory Name="SourceDir" Id="TARGETDIR"/>
    <?include CS-directory-runtime.wxi ?>
    <Property Id="CSVERSION1.9">
      <RegistrySearch Type="directory" Root="HKLM" Name="InstallPath" Key="SOFTWARE\CrystalSpace\1.9" Id="CS.old_installdir_prop"/>
    </Property>
    <Upgrade Id="$(var.UPGRADE_CODE)">
      <UpgradeVersion IncludeMaximum="yes" Minimum="1.9.0" Property="PATCHFOUND" Maximum="1.9.3" IncludeMinimum="yes"/>
    </Upgrade>
    <?include CS-feature-runtime.wxi ?>
  </Product>
</Wix>

