<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Version="1.9.3" Name="Crystal Space 1.9" Language="1033" UpgradeCode="3C8B4562-BF93-11DC-B42B-0015582877AD" Id="*" Manufacturer="The Crystal Space Project">
    <Package InstallerVersion="301"/>
    <Media EmbedCab="yes" Id="1" Cabinet="cs1.cab"/>
    <UIRef Id="WixUI_FeatureTree"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.TOP)/scripts/msi/lgpl.rtf"/>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize"/>
    </InstallExecuteSequence>
    <Directory Name="SourceDir" Id="TARGETDIR"/>
    <DirectoryRef Id="TARGETDIR">
      <Directory Name="PFiles" Id="ProgramFilesFolder"/>
    </DirectoryRef>
    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Name="CrystalSpace" Id="CSINSTALLDIR"/>
    </DirectoryRef>
    <DirectoryRef Id="CSINSTALLDIR">
      <Directory Name="1.9" Id="CSVERSION1.9">
        <Merge DiskId="1" SourceFile="$(var.MSM_CS_PATH)/CS.register.msm" Id="CS.register.8E4AB45A-BF93-11DC-B42B-0015582877AD" Language="1033" FileCompression="yes"/>
        <Merge DiskId="1" SourceFile="$(var.MSM_CS_PATH)/CS.vfs.msm" Id="CS.vfs.8DDFD4F0-BF93-11DC-B42B-0015582877AD" Language="1033" FileCompression="yes"/>
        <Directory Name="data" Id="CS.data">
          <Merge DiskId="1" SourceFile="$(var.MSM_CS_PATH)/CS.data.msm" Id="CS.data.8EA81938-BF93-11DC-B42B-0015582877AD" Language="1033" FileCompression="yes"/>
        </Directory>
        <Directory Name="docs" Id="CS.docs">
          <Merge DiskId="1" SourceFile="$(var.MSM_CS_PATH)/CS.doc.msm" Id="CS.doc.88888F92-BF93-11DC-B42B-0015582877AD" Language="1033" FileCompression="yes"/>
        </Directory>
        <Directory Name="GCC" Id="CS.arch">
          <Directory Name="bin" Id="CS.arch.bin">
            <Merge DiskId="1" SourceFile="$(var.MSM_CS_PATH)/CS.arch.GCC_3.4.lib.msm" Id="CS.arch.GCC.lib.A6DDD416-BF93-11DC-B42B-0015582877AD" Language="1033" FileCompression="yes"/>
            <Merge DiskId="1" SourceFile="$(var.MSM_CS_PATH)/CS.arch.GCC_3.4.executable.msm" Id="CS.arch.GCC.executable.AC4E1EB0-BF93-11DC-B42B-0015582877AD" Language="1033" FileCompression="yes"/>
            <Merge DiskId="1" SourceFile="$(var.TOP)/win32libs/mergemodules/winlibs.common.dlls.msm" Id="winlibs.common.dlls" Language="1033" FileCompression="yes"/>
            <Merge DiskId="1" SourceFile="$(var.TOP)/win32libs/mergemodules/winlibs.mingw.dlls.msm" Id="winlibs.mingw.dlls" Language="1033" FileCompression="yes"/>
            <Merge Id="VCRedist" SourceFile="$(env.COMMONPROGRAMFILES)\Merge Modules\Microsoft_VC80_CRT_x86.msm" DiskId="1" Language="0" FileCompression="yes"/>
          </Directory>
          <Directory Name="include" Id="CS.arch.include">
            <Merge DiskId="1" SourceFile="$(var.MSM_CS_PATH)/CS.include.msm" Id="CS.include.8F1B7996-BF93-11DC-B42B-0015582877AD" Language="1033" FileCompression="yes"/>
            <Merge DiskId="1" SourceFile="$(var.MSM_CS_PATH)/CS.arch.GCC_3.4.include.msm" Id="CS.arch.GCC.include.8F6CB040-BF93-11DC-B42B-0015582877AD" Language="1033" FileCompression="yes"/>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
    <Property Id="CSVERSION1.9">
      <RegistrySearch Type="directory" Root="HKLM" Name="InstallPath" Key="SOFTWARE\CrystalSpace\1.9" Id="CS.old_installdir_prop"/>
    </Property>
    <Upgrade Id="3C8B4562-BF93-11DC-B42B-0015582877AD">
      <UpgradeVersion IncludeMaximum="yes" Minimum="1.9.0" Property="PATCHFOUND" Maximum="1.9.3" IncludeMinimum="yes"/>
    </Upgrade>
    <Feature ConfigurableDirectory="CSVERSION1.9" Title="Crystal Space" Id="CS" Level="1">
      <MergeRef Id="CS.register.8E4AB45A-BF93-11DC-B42B-0015582877AD"/>
      <MergeRef Id="CS.vfs.8DDFD4F0-BF93-11DC-B42B-0015582877AD"/>
      <Feature Title="Headers" Id="CS.include" Level="1">
        <MergeRef Id="CS.include.8F1B7996-BF93-11DC-B42B-0015582877AD"/>
      </Feature>
      <Feature Title="Data" Id="CS.data" Level="1">
        <MergeRef Id="CS.data.8EA81938-BF93-11DC-B42B-0015582877AD"/>
      </Feature>
      <Feature Title="Documentation" Id="CS.doc" Level="1">
        <MergeRef Id="CS.doc.88888F92-BF93-11DC-B42B-0015582877AD"/>
      </Feature>
      <Feature Title="Binaries" Id="CS.arch" Level="1">
        <Feature Title="Binaries compiled with GCC" Id="CS.arch.GCC" Level="1">
          <Feature Title="Libraries" Id="CS.arch.GCC.lib" Level="1">
            <MergeRef Id="CS.arch.GCC.lib.A6DDD416-BF93-11DC-B42B-0015582877AD"/>
          </Feature>
          <Feature Title="Headers" Id="CS.arch.GCC.include" Level="1">
            <MergeRef Id="CS.arch.GCC.include.8F6CB040-BF93-11DC-B42B-0015582877AD"/>
          </Feature>
          <Feature Title="Application" Id="CS.arch.GCC.executable" Level="1">
            <MergeRef Id="CS.arch.GCC.executable.AC4E1EB0-BF93-11DC-B42B-0015582877AD"/>
          </Feature>
          <Feature Title="Support Libraries" Id="CS.arch.GCC.support" Level="1">
            <MergeRef Id="winlibs.common.dlls"/>
            <MergeRef Id="winlibs.mingw.dlls"/>
          </Feature>
        </Feature>
      </Feature>
    </Feature>
    <Feature Id="VCRedist" Title="Visual C++ 8.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>
  </Product>
</Wix>

