<?xml version="1.0" ?>
<configuration>
	<dllmap dll="cspacecoreglue.dll" target="libcspacecoreglue.so" />
	<dllmap dll="cspacecsgeomglue.dll" target="libcspacecsgeomglue.so" />
	<dllmap dll="cspacecsgfxglue.dll" target="libcspacecsgfxglue.so" />
	<dllmap dll="cspacecstoolglue.dll" target="libcspacecstoolglue.so" />
	<dllmap dll="cspaceiengineglue.dll" target="libcspaceiengineglue.so" />
	<dllmap dll="cspaceimapglue.dll" target="libcspaceimapglue.so" />
	<dllmap dll="cspaceimeshglue.dll" target="libcspaceimeshglue.so" />
	<dllmap dll="cspaceisndsysglue.dll" target="libcspaceisndsysglue.so" />
	<dllmap dll="cspaceivariaglue.dll" target="libcspaceivariaglue.so" />
	<dllmap dll="cspaceivideoglue.dll" target="libcspaceivideoglue.so" />
</configuration>

